.container-categorias {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 4%;
}

.categoria {
	width: 25%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 2%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.img-categorias {
	width: 60%;
	margin-left: 20%;
}

.button-categorias {
	background-color: rgb(255, 255, 255) !important;
	border: 1px solid black;
	color: black;
	width: 62%;
	font-size: 15px;
	padding: 2%;
	border-radius: 5px;
	margin-left: 40%;
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	.container-categorias{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
	}
	.categoria {
		width: 80%;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		padding: 3%;
		height:fit-content;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 7%;
	}
	.categoria h4{
		font-size: 1.0rem!important;
	}
	.img-categorias {
		padding-top: 0.5rem;
		width: 90%;
		margin: auto;
	}
	.button-categorias {
		display: block;
		background-color: rgb(255, 255, 255) !important;
		border: 1px solid black;
		color: black;
		width: 95%;
		font-size: 1rem;
		padding: 4%;
		border-radius: 5px;
		margin: auto;
		cursor: pointer;
	}
}