.container{
    width: 100%;
    justify-content: space-around;
    display: flex;
    padding-top: 3%;
}
.texto h1{
    text-decoration: underline;
    text-decoration-color: #BD2626;
}
.texto{
    width: 60%;
}
.mapa{
    width: 43%;
    height: 50vh ;
}
.contato-btn{
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    border-radius: 2rem;
    border: none;
    font-size: 16px;
    background: linear-gradient(to right, #D06464, #BB2121);
}
.img-whats{
    margin-left: 2rem;
    width: 51px;
    height: 51px;
}
.contato-div{
    display: flex;
    align-items: center;
}