.container{
    height: 20vh;
    width: 18vw;
    background-color:#5A6ACF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 0;
}
.content p{
    color: #FFFF;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    font-size: medium;
    font-family: 'Poppins-Regular';
}
.content h3{
    color: #FFFF;
    margin-top: 0;
    line-height: 15px;
    text-align: center;
    font-size: x-large;
    font-family: 'Poppins-Bold';
}

