.container{
    height: 20vh;
    width: 16vw;
    background-color:#5A6ACF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2vh;
    margin-top: 0;
}
.content p{
    color: #FFFF;
    margin-left: 4vw;
    margin-right: 4vw;
    text-align: center;
    font-size: medium;
}
.content h3{
    color: #FFFF;
    margin-top: 0;
    line-height: 15px;
    text-align: center;
    font-size: x-large;
}

@media (min-width: 800px) and (max-width: 1000px){
    .container{
        width: 30vw;
        height: 10rem;
    }
}

