.container{
    width: 85vw;
    height: 60vh;
    margin: auto;
}
.favoritos-deslogado{
    padding-top: 2vh;
    width: 50%;
    text-align: center;
    margin: auto ;
}
.container button{
    width: 40%;
    cursor: pointer;
    padding: 2vh;
    font-weight: bold;
}
.cadastrar{
    cursor: pointer;
    color: #5A6ACF;
}
.cadastrar:hover{
    text-decoration: underline;
}