.container{
    width: 85vw;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 4%;
}
.favoritos-deslogado{
    padding-top: 2vh;
    width: 50%;
    text-align: center;
    margin: auto ;
}
.container button{
    width: 40%;
    cursor: pointer;
    padding: 2vh;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 4%;
}
.cadastrar{
    cursor: pointer;
    color: #5A6ACF;
}
.cadastrar:hover{
    text-decoration: underline;
}
.listFav{
    width: 100%;
    margin: auto;
}
.footer{
    bottom: 0;
}

@media (max-width: 1024px) {
    h2{
        font-size: 17px;
    }

    h3{
        font-size: 18px !important;
    }

    .favoritos-deslogado{
        width: 90%;
        margin-top: 3%;
    }
}