@font-face {
	font-family: "PoppinsBold";
	src: url("../utils/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "PoppinsMedium";
	src: url("../utils/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "PoppinsRegular";
	src: url("../utils/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "PoppinsThin";
	src: url("../utils/fonts/Poppins-Thin.ttf") format("truetype");
}


*:focus {
	outline: none;
	border: none;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	width: 98vw !important;
	color: #1f384c;
	font-family: "PoppinsRegular", sans-serif;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-button {
	display: none;
}

button{
	background-color: #bd2626;
	border: none;
	border-radius: 40px;
	color: #fff;
	font-size: large;
}