.container-solicitarConcerto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 9%;
}

.container-texto p{
    font-size: 22px;
}

.container-pergunta{
    margin-bottom: 2%;
}

.container-pergunta h2{
    font-size: 25px;
}

.container-botao{
    display: flex;
    justify-content: center;
}

button{
    background-color: #BD2626;
    width: 55%;
    height: 20%;
    color: white;
    border-radius: 50px;
    padding: 10px;
    font-size: 21px;
    border: none;
}