.conteiner{
    padding: 3%;
}

.button-voltar{
    cursor: pointer;
    font-size: 18px;
    width: 20px;
}

.titulo-bottao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagens-produto{
    width: 63%;
}

.info-produto{
    width: 30%;
}

.conteiner-info{
    display: flex;
    flex-direction: row;
    height: 330px;
}

.img-iphonePrincipal{
    width: 95%;
}

.info-produto p{
    font-size: 20px;
}

.heart {
    font-size: 50px;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s ease;
}
  
.heart.active {
    color: #ff0000;
}

.info-produto h3{
    font-size: 22px;
}

.cores{
    margin-top: 5%;
}

.paletas{
    display: flex;
    flex-direction: row;
}

.cor-vermelha{
    background-color: #A93933;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: 2%;
}

.cor-azul{
    background-color: #394578;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: 2%;
}

.cor-preta{
    background-color: #323232;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: 2%;
}

.botao-comprar{
    height: 50px;
    border-radius: 50px;
    margin-top: 1%;
    width: 95%;
    cursor: pointer;
}

.img-iphone-secundarias img {
    width: 150px; 
    margin: 10px;
    cursor: pointer;
  }

.conteiner-fotos{
    display: flex;
    flex-direction: row;
    width: 900px;
}

.imagem-principal{
    width: 40%;
    margin-left: 30%;
}

.carousel {
    display: flex;
    align-items: center;
  }
  
.carousel-images {
    display: flex;
    overflow: hidden; 
    width: 100%; 
  }
  
  .img-iphone-secundarias {
    margin: 0 5px; 
    cursor: pointer;
  }
  
  .btn-prev {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("https://img.icons8.com/ios/30/chevron-left.png");
  }
  
  .btn-next {
    width: 30px;
    cursor: pointer;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("https://img.icons8.com/ios/30/chevron-right.png");
  }

  .btn-prev:disabled,
  .btn-next:disabled {
    cursor: not-allowed; 
    opacity: 0.5; 
  }
  