.Dashboard {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.Content {
	height: 150vh;
	width: 85vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 66vh;
	margin-left: 15vw;
}

.Container {
	width: 92%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.Head {
	width: 100%;
	height: 30vh;
}

.Title-Space {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 0.5rem;
}

.Title {
	font-size: 32px;
	font-family: "PoppinsBold";
	margin-bottom: 1.4vh;
}

.Data-Selecionada {
	font-size: 28px;
	font-family: "PoppinsMedium";
}

.Date-Picker {
	width: 15% !important;
	padding-right: 10px;
}

.Section-Title {
	font-size: 24px;
	font-family: "PoppinsBold";
	width: 100%;
	margin-bottom: 1.4vh;
}

.Kpi-Space {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.Main {
	height: 103vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.Products {
	width: 100%;
	height: 100%;
}

.divisor {
	width: 1px;
	background-color: #c8cbd9;
	height: 100vh;
}

.Graphics {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 48%;
}

.Columngraphic {
	height: 45vh;
	width: 35vw;
	justify-content: center;
	margin-left: 25px;
	margin-bottom: 30px;
	border-bottom: solid 1px #c8cbd9;
}

.Bargraphic {
	height: 100%;
	width: 35vw;
	margin-left: 25px;
	justify-content: center;
}

.List {
	display: flex;
	height: 100%;
	width: 48%;
	justify-content: center;
}

.DatePickerModal {
	position: absolute;
	display: flex;
	border: 1px solid black;
	background-color: white;
	width: 70%;
	height: 70vh;
}

.options-menu {
	width: 30%;
	background-color: #bd1616;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.options-menu .button {
	width: 100%;
	height: 4.5rem;
	border-radius: 0;
	text-align: left;
	transition: 0.5s ease;
}

.options-menu .button:hover {
	background-color: #83171796;
	transition: 0.5s ease;
}

.selected-date-option {
	width: 100%;
	height: 4.5rem;
	border-radius: 0;
	background-color: #831717;
	text-align: left;
	transition: 0.5s ease;
}

.date-picker-area {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.date-picker-header {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.calendar-area {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media (min-width: 800px) and (max-width: 1000px) {
	.Kpi-Space {
		width: 100% !important;
		align-items: center !important;
		display: flex !important;
		flex-wrap: wrap !important;
		justify-items: baseline !important;
		justify-content: center !important;
	}

	.Main {
		height: 100vh !important;
		width: 80vw !important;
		display: block !important;
		margin-top: 0 !important;
	}

	.Head {
		height: fit-content !important;
		width: 100% !important;
		display: flex !important;
		flex-direction: column !important;
	}

	.List {
		display: flex !important;
		height: fit-content !important;
		border-bottom: solid 1px #c8cbd9;
		width: 80vw !important;
		border-right: none !important;
	}

	.Graphics {
		display: flex;
		flex-direction: column;
		justify-content: space-beetwen;
		height: fit-content !important;
		width: 80vw !important;
		margin-left: solid 1px #c8cbd9;
	}
	.Columngraphic {
		height: fit-content !important;
		display: flex;
		width: 80vw !important;
		justify-content: center;
		margin-left: 25px;
		margin-bottom: 30px;
		border-bottom: solid 1px #c8cbd9;
	}

	.Graphictittle {
		text-align: left;
		margin-left: 10vw !important;
		color: black;
	}

	.Bargraphic {
		height: fit-content !important;
		display: flex;
		width: 80vw !important;
		margin-left: 4vw;
		margin-bottom: 8vh;
		justify-content: center;
	}
}
