.container{
    display: flex;
    width: 100%;
    margin: auto;
    /* padding: 2vh; */
    flex-wrap: wrap;
    height: 100%
}

.produto{
    width: 20%;
    height: 16rem;
    border-radius: 10px;
    box-shadow: #0000004d 0px 4px 4px;
    padding: 2%;
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    flex-direction: column;
    justify-content: space-evenly;
}
.produto:hover{
    box-shadow: #bb202087 0px 4px 4px;
    cursor: pointer;
}
.produto img{
    width: 10rem;
    height: 10rem;
    margin: auto;
}
.produto .nomeProd{
    width: 100%;
    font-weight: 500;
}
.heart{
    width: 2rem!important;
    height: 2rem!important;
}
.noContent{
    width: 100%;
    display: flex
}
h3{
    width: 90vw;
    text-align: center;
}
@media screen and (max-width: 1010px) {
    .produto{
        width: 14rem;
        height: 16rem;
        margin-bottom: 2vh;
    }
    .container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
    }
    .produto img{
        width: 7rem;
        height: 7rem;
        margin: auto;
    }
}