.container{
    display: flex;
    flex-direction: column;
}
.container h1{
    text-decoration: underline;
    text-decoration-color: #BD2626;
}
.item-list{
    height: 50vh;
    max-width: fit-content;
    width: 88vw;
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.item{
    width: 8rem;
    position: fixed;
    scroll-snap-align: center;
}

.carousel-view{
    display: flex;
    height: 50vh;
    margin: auto!important;
    justify-content: center;
    align-items: center;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .item-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

button{
    width: 2vw;
    height: 5vh;
    margin: 1vw;
}