.container {
  display: flex;
  flex-direction: column;
  width: 97% !important;
  padding: 1%;
}

.item-list {
  height: fit-content;
  padding-top: 1vw;
  padding-bottom: 1vw;
  max-width: fit-content;
  width: 90vw;
  display: flex;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.item {
  width: 8rem;
  position: fixed;
  scroll-snap-align: center;
}

.carousel-view {
  display: flex;
  height: fit-content;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.linha-horizontal {
  width: 140px;
  height: 5px;
  background-color: #D41F1F;
  border-radius: 50px;
}

.btn-prev {
  width: 30px;
  height: 30px;
  margin-right: 1vw;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://img.icons8.com/ios/30/chevron-left.png");
  background-repeat: no-repeat;
}

.btn-next {
  width: 30px;
  cursor: pointer;
  height: 30px;
  margin-left: 1vw;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://img.icons8.com/ios/30/chevron-right.png");
  background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
  .item{
    width: 100%;
  }
  .container{
    width: 100vw!important;
    padding: 0!important;
    /* margin: auto; */
  }
  .container-lista{
    width: 94vw!important;
    margin: auto;
  }
  .linha-horizontal{
    width: 16vw;
    height: 0.3vh;
  }
  .container h1{
    font-size: 103%;
  }
  button{
    display: none;
  }
  
}