.InputFile {
	width: 100%;
	height: 4rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
}

input[type="file"] {
	display: none;
}

.input-file-button {
	width: 10rem;
	height: 2.5rem;
	background-color: #bd1616;
	color: #ffffff;
	border-radius: 0.5rem;
	font-family: "PoppinsBold";
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
