.container-oferta{
    padding: 4%;
}

h1 {
    font-size: 2.0rem;
    margin-bottom: 0.1px;
}

.linha-horizontal {
    width: 140px;
    height: 5px;
    background-color: #D41F1F;
    border-radius: 50px;
    margin-bottom: 2%;
}

.img-oferta{
    height: 50%;
    width: 100%;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 0.6rem;
        margin-bottom: 0.1px;
    }
    .linha-horizontal {
        width: 30%;
        height: 5px;
        background-color: #D41F1F;
        border-radius: 50px;
        margin-bottom: 2%;
    }
}