button {
	background-color: #bd1616;
	color: #ffffff;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	padding: 0.6rem 3rem;
	font-size: 16px;
	font-family: "PoppinsBold";
}

.button-group{
	display: flex;
	flex-direction: row;
	padding: 8px 0px 8px 0px;
}