.produto{
    width: 18rem;
    height: 19rem;
    border-radius: 10px;
    box-shadow: #0000004d 0px 4px 4px;
    padding: 2%;
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    flex-direction: column;
    justify-content: space-evenly;
}
.produto:hover{
    box-shadow: #bb202087 0px 4px 4px;
    cursor: pointer;
}
.produto img{
    width: 10rem;
    height: 10rem;
    margin: auto;
}
.precoSemDesconto{
    text-decoration: line-through;
    opacity: 50;
    line-height: 0;
    color: #37363689;
    background-color: #d41f1f75;
}
.carregamento {
    width: 10rem;
    height: 10rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.produto .nomeProd{
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.heart{
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 800px) {
    .produto{
        width: 37%;
        height: 21.327014218%;
        padding: 1rem;
    }
    .produto h4{
        margin-top: 0.5rem;
    }
    .estado{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .nomeProd{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .produto img{
        width: 125px;
        height: 125px;
        margin: auto;
    }
    .produto .nomeProd{
        font-size: 15px;
    }
}
