.produto{
    width: 18rem;
    height: 19rem;
    border-radius: 10px;
    box-shadow: #0000004d 0px 4px 4px;
    padding: 2%;
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    flex-direction: column;
    justify-content: space-evenly;
}
.produto:hover{
    box-shadow: #bb202087 0px 4px 4px;
    cursor: pointer;
}
.produto img{
    width: 10rem;
    height: 10rem;
    margin: auto;
}
.produto .nomeProd{
    width: 100%;
    font-weight: 500;
}
.heart{
    width: 2rem;
    height: 2rem;
}